install
url --url=http://linux.mirrors.es.net/centos/6/os/[BUILD_ARCH]

##############################
# System Configuration
##############################
lang en_US.UTF-8
keyboard us
timezone --utc America/Los_Angeles

auth --enableshadow --enablemd5
firstboot --disabled
firewall --disabled
#rootpw --iscrypted Xavf0PU1CJn.U
rootpw --iscrypted saFLGt/QKS6yw 
selinux --disabled
skipx

##############################
# Boot configuration
##############################
zerombr
bootloader --location=mbr

#clearpart --all

network --onboot=yes

##############################
# Installation Configuration
##############################
interactive
text

##############################
# Repository Configuration
##############################
repo --name=a-base	--baseurl=http://linux.mirrors.es.net/centos/6/os/[BUILD_ARCH] --excludepkgs=kernel*
repo --name=a-updates	--mirrorlist=http://software.internet2.edu/rpms/el6/mirrors-Toolkit-CentOS-Updates-[BUILD_ARCH] --excludepkgs=kernel*
repo --name=a-EPEL	--mirrorlist=http://software.internet2.edu/rpms/el6/mirrors-Toolkit-EPEL-[BUILD_ARCH]
repo --name=a-Internet2	--baseurl=http://software.internet2.edu/rpms/el6/[BUILD_ARCH]/main/
repo --name=a-Web100	--baseurl=http://software.internet2.edu/web100_kernel/rpms/el6/[BUILD_ARCH]/main/
repo --name=a-DataStax  --baseurl=http://rpm.datastax.com/community

##############################
# Install Packages
##############################
%packages
@base
@core
@console-internet

authconfig
bash
binutils
chkconfig
comps-extras
cpp
device-mapper-multipath
gcc
glibc
glibc-common
glibc-devel
glibc-headers
httpd
kernel
kernel-headers
less
libgcc
libgomp
libpcap
mysql
mysql-devel
ntp
passwd
patch
perl-DBD-mysql
perl-DBI
php
php-gd
php-snmp
php-xml
policycoreutils
rootfiles
syslinux
system-config-firewall-base
tcpdump
vim-common
vim-enhanced
xkeyboard-config

##############################
# Install Custom Packages
##############################
# EPEL
epel-release

#datastax (cassandra yum repo)
datastax-repo

# sk98lin Kernel Modules
kmod-sk98lin

# Open SSH
openssh-clients
openssh-server

# Web 100
web100_userland

# Internet2 Repository
Internet2-repo

# iperf3
iperf3

# tcptrace and modified xplot
tcptrace
xplot-tcptrace


# perfSonar
bwctl-client
bwctl-server
ndt
npad
nuttcp
owamp-client
owamp-server

perl-perfSONAR_PS-Toolkit
perl-perfSONAR_PS-Toolkit-SystemEnvironment

perl-perfSONAR_PS-LSCacheDaemon
perl-perfSONAR_PS-LSRegistrationDaemon
perl-perfSONAR_PS-MeshConfig-Agent
perl-perfSONAR_PS-PingER-server
perl-perfSONAR_PS-SimpleLS-BootStrap-client
perl-perfSONAR_PS-SNMPMA
perl-perfSONAR_PS-TracerouteMA-client
perl-perfSONAR_PS-TracerouteMA-config
perl-perfSONAR_PS-TracerouteMA-server
perl-perfSONAR_PS-perfSONARBUOY-client
perl-perfSONAR_PS-perfSONARBUOY-config
perl-perfSONAR_PS-perfSONARBUOY-server
%end

##############################
# Run Post Scripts
##############################
%post --log=/root/post_install.log

##############################
# Resize default partition layout.
# Interactive mode breaks partitioning 
# commands so have to do it here.
##############################
# Backup /home though probably not much in it
cp -r /home /home.bak
# Remove the partition
umount /dev/mapper/VolGroup-lv_home
lvremove -f /dev/VolGroup/lv_home
# restore home. might already be there by default, hence the somewhat round-about copying
mkdir -p /home
mv /home.bak/* /home/
rm -rf /home.bak/
#Expand the root partition
lvextend -r -l +100%FREE /dev/VolGroup/lv_root
#Update fstab so it doesnt look for /home
grep -v "VolGroup-lv_home" /etc/fstab > /etc/fstab.new
mv -f /etc/fstab.new /etc/fstab

##############################
# Initialize the MySQL Databases
##############################
/sbin/service mysqld start
/opt/perfsonar_ps/toolkit/scripts/initialize_databases
/sbin/service mysqld stop

##############################
# Disable Readahead
##############################
sed -i 's/=\"yes\"/=\"no\"/g' /etc/sysconfig/readahead
%end
